<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="logDirectory" value="F:\LogFiles\Censy"/>
  <variable name="logBackupDirectory" value="${logDirectory}\archives"/>

  <targets>
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${message}"
            detectConsoleAvailable="false" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="fileLog"
          xsi:type="File"
          fileName="Precog.log"
          layout="${date:format=dd/MM/yyyy HH\:mm\:ss} ${uppercase:${level}} ${message} ${exception:format=tostring}"
          ConcurrentWrites="true"
          KeepFileOpen="false"
          MaxArchiveFiles="365"
          ArchiveEvery="Day" />
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="console, fileLog" />
  </rules>
</nlog>